<html>
<head>
  <meta charset="utf-8">

  <title>Survey</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my.css') }}">

</head>

<body>
  <div class='container'>
    <form class='user_input' action='/result' method="POST">
      Your name: <input type="text" name='your_name'>
      Dojo Location: <select name='dojo_location'>
        <option value="dc">DC</option>
        <option value="seattle">Seattle</option>
        <option value="san_fran">San Francisco</option>
        <option value="dallas">Dallas</option>
      </select>
      Favorite Lanugage: <select name='fav_language'>
        <option value="python">Python</option>
        <option value="mysql">MySQL</option>
        <option value="javascript">JavaScript</option>
        <option value="html">HTML</option>
      </select>
      Comment (optional)<textarea rows="4" cols="30" name="comment">
      </textarea>
      <input type="submit" value="Submit">
    </form>

  </div>

</body>
</html>
